{% extends "nav.html" %}

{% block title %}Inicio{% endblock %}

{% block head %}{% endblock %}

{% block content %}

<div id="main">
	<section id="intro" class="main">
		<header class="major special">
			<h2>{{ app_name_long }}</h2>
		</header>
		<div class="content">
			<p>Bienvenid@ al programa de adquisición de datos sobre el potencial del recurso fotovoltaico
				en vehículos en zonas urbanas. Esta es una iniciativa llevada a cabo por el Instituto de
				Energía Solar de la
				Universidad Politécnica de Madrid. Nuestra misión es evaluar el impacto energético de
				integrar paneles en los vehículos privados, según las rutas que haga cada usuari@.</p>
			<div>
				<p style="margin-bottom: 8px; text-align: left;">
					Proyecto PID2021-128853OB-I00 financiado por:
				</p>
				<img src="{{ url_for('static', filename='images/funding/MICIU+Cofinanciado+AEI.jpg') }}"
					alt="Financiado por MCIN/AEI/UE"
					style="height: 70px; width: auto; display: block; margin-bottom: 2em;">
			</div>
			<ul class="actions">
				<li><a href="login" class="button">Iniciar Sesión</a></li>
			</ul>
		</div>
	</section>

	<section class="main special">
		<footer>
			<h3 class="actions special">
				<p><strong>¡Anímate a participar y ayúdanos a avanzar en nuestra misión de integrar la energía
						fotovoltaica!</strong></p>
			</h3>
			<p>Para más información, puedes consultar página de <a
					href="{{ url_for('web.about') }}"><b>la iniciativa</b></a>
			</p>
		</footer>
	</section>

</div>

{% endblock %}